body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

.container {
    text-align: center;
    margin-top: 80px;
}

.logo {
    color: #1877f2;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 20px;
    margin-bottom: 30px;
}

.login-box {
    width: 350px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-box input {
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 1px solid #dddfe2;
    font-size: 15px;
}

.login-box button {
    width: 80%;
    padding: 12px;
    background-color: #1877f2;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #1877f2;
}
    

.forgot {
    display: block;
    margin: 12px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.login-box .account button {
    background: #36a420;
    font-size: 16px;
    width: 60%;
}