*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}