* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9));
    background-image: url("../image/backgroundimg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main { 
    font-size: 32px;
    margin-bottom: 0;
    display: flex;
    margin-bottom: 8px;
    padding: 10px;
    text-align: center;
}
   
.search-bar {
    width: 50%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 60px;
    backdrop-filter: biblur(4px) saturate(180%);
    max-height: 80px;
}

.search-bar input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}