body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f2f5;
}

body {
    min-height: 100vh;
    background-image: url("../image/img1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    margin-top: 80px;
}

.student {
    color: aqua;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 30px;
    margin-bottom: 30px;
    color: silver;
}

.login-box {
    width: 350px;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-box input {
    width: 80%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 1px solid #dddfe2;
    font-size: 15px;
}

.login-box button {
    width: 60%;
    padding: 12px;
    background-color: #1877f2;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
}

.login-box button:hover {
    background-color: #1877f2;
}

.Next button {
    margin-top: 10px;
    background-color: green;
}

.Next button:hover {
    background-color: green;
}

.formgroup {
    margin-top: 10px;
}

#message {
    color: red;
    font-size: 14px;
}