* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    padding: 30px;
}

.resume-container {
    display: flex;
    width: 700px;
    margin: auto;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20%;
}

.left-section {
    width: 35%;
    background: #2f3b46;
    color: white;
    padding: 25px;
}

.left-section h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-decoration: underline;
}



.left-section ul {
    list-style: none;
    margin-bottom: 15px;
}

.left-section ul li {
    margin-bottom: 5px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid white;
}

.right-section {
    width: 70%;
    padding: 30px;
}

.right-section h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.right-section h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    margin-bottom: 20px;
}

section {
    margin-bottom: 25px;
}

section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

section h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}

.date {
    font-size: 13px;
    color: gray;
    margin-bottom: 8px;
}

ul li {
    margin-left: 18px;
    margin-bottom: 6px;
}

.right-section .Education {
    font-size: large;
}

.right-section .Education h6 {
    font-weight: 900;
}

.right-section .Education p {
    font-size: medium;
}