body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    box-sizing: border-box;
    height: 50vh;
    width: 500px;
}

h2 {
    color: #333;
    text-align: center;
}

input {
    padding: 8px;
    width: 200px;
    text-align: center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgb(32, 109, 233);
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 50%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
}

h3 {
    text-align: center;
}